### Code to delete the rows for some particular columns having empty cells

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("prop2.xlsx")
df.shape
df.head()

,EID,Specific Capacitance Value,Specific Capacitance Unit,Surface Area Value,Surface Area Unit,Energy Density Value,Energy Density Unit,Power Density Value,Power Density Unit,Voltage Value,Voltage Unit,Current Density Value,Current Density Unit,Cycles Value,Cycles Unit
0,2-s2.0-0000066727.txt,"243, 715","F/g, F/g",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2-s2.0-0000286813.txt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000,cycles
2,2-s2.0-0000301004.txt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2-s2.0-0000370847.txt,NaN,NaN,NaN,NaN,"55, 42, 30","Wh/kg, Wh/kg, Wh/kg","11, 9","kW/kg, kW/kg",NaN,NaN,NaN,NaN,"1000, 60, 1800","cycles, cycles, cycles"
4,2-s2.0-0000662429.txt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,V,NaN,NaN,500,cycles

In [3]:
# Specify the columns in which you want to check for empty values
columns_to_check = ['Specific Capacitance Value','Specific Capacitance Unit', 'Surface Area Value', 'Surface Area Unit',
                    'Energy Density Value','Energy Density Unit', 'Power Density Value','Power Density Unit', 'Voltage Value',
                    'Voltage Unit', 'Current Density Value','Current Density Unit', 'Cycles Value', 'Cycles Unit']

In [4]:
# Drop rows with empty values in specified columns
df.dropna(subset=columns_to_check, how='all', inplace=True)

In [5]:
# Save to excel file
df.to_excel('properties2.xlsx', index=False)