In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import ast

In [2]:
df = pd.read_excel("properties.xlsx")
df.shape

(52185, 8)

In [3]:
df.head()

,EID,Specific Capacitance,Surface Area,Energy Density,Power Density,Voltage,Current Density,Cycles
0,2-s2.0-0000066727.txt,"[('243', 'F/g'), ('715', 'F/g')]",NaN,NaN,NaN,NaN,NaN,NaN
1,2-s2.0-0000286813.txt,NaN,NaN,NaN,NaN,NaN,NaN,"[('000', 'cycles')]"
2,2-s2.0-0000301004.txt,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2-s2.0-0000370847.txt,NaN,NaN,"[('55', 'Wh/kg'), ('42', 'Wh/kg'), ('30', 'Wh/...","[('11', 'kW/kg'), ('9', 'kW/kg')]",NaN,NaN,"[('1000', 'cycles'), ('60', 'cycles'), ('1800'..."
4,2-s2.0-0000662429.txt,NaN,NaN,NaN,NaN,"[('2', 'V')]",NaN,"[('500', 'cycles')]"

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52185 entries, 0 to 52184
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   EID                   52185 non-null  object
 1   Specific Capacitance  14949 non-null  object
 2   Surface Area          1933 non-null   object
 3   Energy Density        1886 non-null   object
 4   Power Density         1754 non-null   object
 5   Voltage               6309 non-null   object
 6   Current Density       662 non-null    object
 7   Cycles                16831 non-null  object
dtypes: object(8)
memory usage: 3.2+ MB